# Skopiuj do .env.local i uzupełnij
# Adres, na który otworzy się wiadomość e-mail (gdy brak endpointu)
VITE_INQUIRY_EMAIL=kontakt@misteriada.com
# Opcjonalnie: endpoint przyjmujący POST application/json (np. https://formspree.io/f/xxxx)
VITE_INQUIRY_ENDPOINT=
